    @media only screen and (min-width: 1400px) {}
    
    @media only screen and (max-width: 1200px) {
        .footer-text-one {
            text-align: center;
            font-size: 35px;
            margin-top: 39px;
        }
        .col-text {
            font-size: 38px;
            padding: 61px 10px 0px 10px;
        }
        .col-text-two p:nth-child(1) {
            font-size: 45px;
        }
        .col-text-two p:nth-child(2) {
            font-size: 35px;
        }
    }
    
    @media only screen and (max-width: 990px) {
        .footer-text-one {
            font-size: 26px;
        }
        .col-text {
            font-size: 30px;
            padding: 54px 10px 0px 10px;
        }
        .col-text-two p:nth-child(1) {
            font-size: 40px;
            padding-top: 135px;
        }
        .col-text-two,
        .col-text {
            height: 315px;
        }
        .col-text-two p:nth-child(2) {
            font-size: 25px;
            padding: 6px 0px;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .header-text h2 {
            font-size: 17px;
        }
        .footer-text-one {
            font-size: 20px;
            margin-top: 32px;
        }
        .col-text {
            font-size: 20px;
            padding: 39px 10px 0px 10px;
        }
        .col-text-two,
        .col-text {
            height: 221px;
        }
        .col-text-two p:nth-child(1) {
            font-size: 34px;
            padding-top: 59px;
        }
        .col-text-two p:nth-child(2) {
            font-size: 20px;
            padding: 6px 0px;
        }
    }
    
    @media only screen and (max-width: 730px) {}
    
    @media only screen and (max-width: 576px) {
        .header-text h2 {
            font-size: 11px;
        }
        .footer-text-one {
            font-size: 19px;
            margin-top: 39px;
        }
        .col-text {
            font-size: 13px;
            padding: 28px 11px 0px 13px;
        }
        .col-text-two,
        .col-text {
            height: 153px;
        }
        .col-text-two p:nth-child(1) {
            font-size: 21px;
            padding-top: 45px;
        }
        .col-text-two p:nth-child(2) {
            font-size: 13px;
            padding: 6px 0px;
        }
    }